@charset "UTF-8";

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 767px) {
    body #content {
        padding-left: 0;
        padding-right: 0;
    }
}

section.wrapper {
    width: 100%;
    max-width: 100%;
}

.bemol-farma .wrapper {
    max-width: 100% !important;
    width: 100% !important;
}

body.bemol-farma #middle .wd-browsing-breadcrumbs {
    display: none !important;
}

#middle {
    padding: 0px;
}

main.conteudoespecial-Bemol {
    z-index: 1;
}

main.conteudoespecial-Bemol ul li {
    margin-top: 0px;
    margin-bottom: 0px;
}

.conteudoespecial-Bemol .container-max {
    max-width: 1345px;
    margin: auto;
}

.conteudoespecial-Bemol .container-max section {
    max-width: 1345px;
    margin: auto;
}

main.conteudoespecial-Bemol em {
    font-weight: 600;
    font-style: unset;
}

main.conteudoespecial-Bemol img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

main.conteudoespecial-Bemol .icon-img {
    width: 50px;
    max-width: 100%;
}

main.conteudoespecial-Bemol .d-view {
    display: block;
}

main.conteudoespecial-Bemol .m-view {
    display: none;
}

main.conteudoespecial-Bemol .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    margin: auto;
}

main.conteudoespecial-Bemol .grid-2-m {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    margin: auto;
}

main.conteudoespecial-Bemol .grid-2-invertido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    margin: auto;
}

main.conteudoespecial-Bemol .grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: auto;
}

main.conteudoespecial-Bemol .grid-3-m {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    margin: auto;
}

main.conteudoespecial-Bemol .grid-3-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    margin: auto;
}

main.conteudoespecial-Bemol .grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    margin: auto;
}

main.conteudoespecial-Bemol .grid-4-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    margin: auto;
}

main.conteudoespecial-Bemol .bg-preto {
    background-color: #000;
    color: #FFF;
}

main.conteudoespecial-Bemol .bg-branco {
    background-color: #FFF;
    color: #000;
}

main.conteudoespecial-Bemol .bg-cinza {
    background-color: #f5f5f7;
    color: #000;
}

main.conteudoespecial-Bemol .texto-miudo {
    font-size: 10px;
    line-height: 12px;
}

main.conteudoespecial-Bemol .texto-centralizado {
    text-align: center;
}

main.conteudoespecial-Bemol .conteudo-centralizado {
    align-self: center;
}

main.conteudoespecial-Bemol .espacamento-int {
    padding: 20px 0px;
}

main.conteudoespecial-Bemol .espacamento-sup {
    padding-top: 60px;
}

main.conteudoespecial-Bemol .tarja-simples {
    border-top: 1px solid #d4d4d4;
}

main.conteudoespecial-Bemol .container-1200 {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

main.conteudoespecial-Bemol .container-1000 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

main.conteudoespecial-Bemol .container-800 {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

main.conteudoespecial-Bemol .container-500 {
    width: 90%;
    max-width: 500px;
    margin: auto;
}

main.conteudoespecial-Bemol .container-400 {
    width: 90%;
    max-width: 400px;
    margin: auto;
}

main.conteudoespecial-Bemol .container-600 {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

main.conteudoespecial-Bemol .container-footer {
    width: 1000px;
    max-width: 90%;
    margin: auto;
    padding: 20px 0px;
}

main.conteudoespecial-Bemol .container-footer p,
main.conteudoespecial-Bemol .container-footer li {
    font-size: 10px;
    line-height: 20px;
}

main.conteudoespecial-Bemol ul {
    list-style-type: disc;
}

main.conteudoespecial-Bemol ul,
main.conteudoespecial-Bemol ol {
    padding-inline-start: 20px;
    margin: 6px auto;
}

main.conteudoespecial-Bemol figure {
    margin: 0px;
}

main.conteudoespecial-Bemol video {
    max-width: 100%;
}

main.conteudoespecial-Bemol .container-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

main.conteudoespecial-Bemol .container-video iframe,
main.conteudoespecial-Bemol .container-video object,
main.conteudoespecial-Bemol .container-video video,
main.conteudoespecial-Bemol .container-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width:769px) {

    main.conteudoespecial-Bemol .m-view {
        display: block;
    }

    main.conteudoespecial-Bemol .d-view {
        display: none;
    }

    main.conteudoespecial-Bemol .grid-2 {
        grid-template-columns: 1fr;
    }

    main.conteudoespecial-Bemol .grid-3 {
        grid-template-columns: 1fr;
        grid-row-gap: 0px;
    }

    main.conteudoespecial-Bemol .grid-3-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        margin: auto;
    }

    main.conteudoespecial-Bemol .grid-4 {
        grid-template-columns: 1fr;
    }

    main.conteudoespecial-Bemol .grid-4-2 {
        grid-template-columns: 1fr 1fr;
    }

    main.conteudoespecial-Bemol .grid-2-invertido {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column-reverse;
    }
    main.conteudoespecial-Bemol hr{
        display: none;
    }
}